@model EventsListModeShow

<form asp-action="Create" asp-controller="DailyPlanner" method="get">
    <select class="custom-select-sm justify-content-start" name="typeEvent">
        @foreach (var mode in Model.Events.Select(x => new { x.TypeEvent, x.TypeGuid }).Distinct())
        {
            <option value="@mode.TypeGuid.ToString()">@Html.DisplayFor(e => mode.TypeEvent)</option>
        }
    </select>
    <input class="btn btn-primary" type="submit" value="Создать">
</form>
