@model Reminder

<form asp-action="EditReminder" method="post">
    @await Html.PartialAsync("EventField", Model)
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="List" class="btn">Cancel</a>
    </div>
</form>