@model Case

<form asp-action="EditCase" method="post">
    @await Html.PartialAsync("EventField", Model)
    <div class="form-group">
        <label asp-for="EndDate"></label>
        <div><span asp-validation-for="EndDate" class="text-danger"></span></div>
        <input type="datetime-local" value="null" asp-for="EndDate" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="List" class="btn">Cancel</a>
    </div>
</form>
